# dependencies
node_modules

# next.js
.next
out

# production
build

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# turbo
.turbo

# vercel
.vercel
